/* ---------- GENERAL STYLES ---------- */
*{
    box-sizing:border-box;
}

div.container {
    width:80%;
    margin:0 auto;
    padding:5%;
    text-align: center;
    background-color:transparent;
}

#homeDiv{
    display:block;
    /* margin-top:5%; */
    height:auto;

    background-image:url("https://static.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg");
    background-position: fixed;
    background-size:cover;
    overflow: hidden;
    /* height:650px; */
}

#welcomeDiv {
    background-color: rgba(250,250,250,0.6);
    border-radius: 25px;
    padding:5%;
    height:300px;
    margin-bottom:100px;
}

#welcomeDiv h1 {
    font-size:50px;
}

#optionsDiv {
    display:block;
    width:100%;
    margin:0 auto;
    background-color:white;
    height:400px;
}

nav {
    z-index: 5;
}

#loginBTN {
    z-index: 5;
    margin-top:5%;
    background-color:#014353;
}

#loginBTN:hover {
    background-color:#fff;
    color:#014353;
}

.box {
    padding:2%;
    display:inline-block;
    text-align:center;
    /* background-color: #014353; */
    background:linear-gradient(#014353 , #0e7a96);
    color:#fff;
    border-radius:20px;
}

.box:not(:last-child) {
    border-right:#fff solid 2px;
}

.box:hover {
    /* background-color: #014253c4; */
    background:linear-gradient(to right, #014353 , #0e7a96);
}

footer {
    width:90%;
    margin:0 auto;
    text-align:center;
    padding:5% 2%  0% 2%;
}
/* ---------- PARALLAX STYLES ---------- */
.parallax {
    background-image:url("https://static.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg");

	height:200px;

	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.non-parallax {
    height:250px;
	width:100%;
    /* background-color:white; */
}
