<nav class="navbar navbar-expand navbar-light bg-light" *ngIf="currentUser">
  <div class="collapse navbar-collapse">
      <a class="nav-item nav-link" routerLink="/home">home</a>
      <!-- <a class="nav-item nav-link" routerLink="/profile">profile</a> -->
      <!-- <a class="nav-item nav-link" routerLink="/form">form</a> -->
      <!-- <a class="nav-item nav-link" routerLink="/masterlist">application masterlist</a> -->
      <a class="nav-item nav-link" (click)="logout()">logout</a>
  </div>
</nav>

<!-- Add ngIf to hide Login button -->
<div id="homeContainer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success" routerLink="/login" *ngIf="!currentUser">Login</button>
      </div>
    </div>
  </div>
</div>


