<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse">
      <a class="nav-item nav-link" routerLink="/home">home</a>
      <!-- <a class="nav-item nav-link" routerLink="/profile">profile</a> -->
      <!-- <a class="nav-item nav-link" routerLink="/form">form</a> -->
      <!-- <a class="nav-item nav-link" routerLink="/masterlist">application masterlist</a> -->
      <!-- <a class="nav-item nav-link" (click)="showAppLogout()" *ngIf="loggedIn">logout</a> -->
  </div>
</nav>

<!-- Add ngIf to hide Login button -->
<div class="container">
  <div class="row">
    <!-- <div class="col-md-6"> -->
      <button class="btn btn-success offset-md-5" routerLink="/login">Login</button>
    <!-- </div> -->
  </div>
</div>

