<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/search">Search Patients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/form/patient">New Patient Form</a>
            </li>
        </ul>

    </div>
    <button class="btn btn-outline-secondary my-1 my-sm-0" (click)="logout()">Logout</button>
</nav>

<div class="container" *ngIf="canCheck">
    <h3>VISIT DETAILS</h3>
    <button class="btn btn-outline-secondary btn-sm" routerLink="/patient/{{pID}}">Return</button>

    <!-- ONLY FOR DOCTOR!!!! -->
    <!-- ngIf current user role is doctor -->
    <button class="btn btn-outline-info btn-sm" *ngIf="isDoctor && !updating" (click)="activateUpdate()">Edit Details</button>
    <button type="submit" lass="btn btn-outline-success btn-sm" *ngIf="updating" (click)="finishUpdate()">Finish</button>
    <button class="btn btn-outline-info btn-sm" *ngIf="isDoctor && !updating" (click)="downloadAsPDF()">Download</button>
    <hr />
    <br />
    <!-- APPOINT RECORD INFO -->
    <!-- DOCTOR INFO / WHO TREATED YOU -->
    <div id="doctorInfoDiv">
        <div class="row">
            <div class="col-md-12">
                <h5>DOCTOR {{currentDoctor.first_name | uppercase}} {{currentDoctor.last_name | uppercase}}</h5>
                <span class="badge badge-info">ID# {{currentDoctor.doctor_id}}</span>
                <span class="badge badge-warning">UHF Certified</span>
                <span class="badge badge-primary">{{currentDoctor.field}}</span>
            </div>
        </div>
    </div>

    <br/>
    <hr/>
    <br/>

    <!-- APPT SUMMARY -->
    <div id="apptRecordDiv" *ngIf="!updating && canCheck">
        <div class="row">
            <div class="col-md-12">
                <h5>APPOINTMENT SUMMARY</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Visit Date</label>
                <p>If only I was not undefined</p>
            </div>
            <div class="col-md-6">
                <label>Visit Reason</label>
                <p>If only I was not undefined</p>
            </div>
        </div>
    </div>

    <br/>

    <!-- VISIT DETAILS -->
    <div id="visitDetailsDiv" *ngIf="!updating && canCheck">
        <div class="row">
            <div class="col-md-12">
                <label>Diagnosis</label>
                <ul *ngFor="let d of currentVisit.diagnosis">
                    <li>{{d}}</li>
                </ul>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-6">
                <label>Symptoms</label>
                <ul *ngFor="let s of currentVisit.symptoms">
                    <li>{{s}}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <label>Prescriptions</label>
                <ul *ngFor="let p of currentVisit.prescriptions">
                    <li>{{p}}</li>
                </ul>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-6">
                <label>Treatments</label>
                <ul *ngFor="let t of currentVisit.treatments">
                    <li>{{t}}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <label>Tests Ran</label>
                <ul *ngFor="let t of currentVisit.tests">
                    <li>{{t}}</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- UPDATING APPT SUMMARY -->
    <div id="apptRecordDiv" *ngIf="updating && canCheck">
        <div class="row">
            <div class="col-md-12">
                <h5>APPOINTMENT SUMMARY</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Visit Date</label>
                <!-- Add ngModel for apptRecord.visit_date-->
                <input type="date" class="form-control col-md-7" placeholder="#" id="visitDate" name="visitDate">
            </div>
            <div class="col-md-6">
                <label>Visit Reason</label>
                <!-- Add ngModel for apptRecord.visit_reason-->
                <input type="text" class="form-control col-md-8" placeholder="Why?" id="visitReason" name="visitReason">
            </div>
        </div>
    </div>
    <br>

    <!-- UPDATING VISIT DETAILS -->
    <div id="visitDetailsDiv" *ngIf="updating && canCheck">
        <div class="row">
            <div class="col-md-12">
                <label>Diagnosis</label>
                <div class="row" id="updater">
                    <input type="text" class="form-control col-md-9" placeholder="New Diagnosis" id="diagnosis" name="diagnosis" [(ngModel)]="diagnosis">
                    <button class="btn btn-sm btn-outline-secondary ml-sm-1" (click)="addDiagnosis()">Add</button>
                </div>
                <div *ngIf="error1" class="alert alert-light">
                    Nothing was entered.
                </div>
                <br>
                <ul *ngFor="let d of currentVisit.diagnosis">
                    <li>{{d}}
                        <button class="btn btn-sm btn-outline-secondary" (click)="removeDiagnosis(d)">
                            <b>X</b>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-6">
                <label>Symptoms</label>
                <div class="row" id="updater">
                    <input type="text" class="form-control col-md-7" placeholder="New Symptom" id="symptom" name="symptom" [(ngModel)]="symptom">
                    <button class="btn btn-sm btn-outline-secondary ml-sm-1" (click)="addSymptom()">Add</button>
                    <div *ngIf="error2" class="alert alert-light">
                        Nothing was entered.
                    </div>
                </div>
                <br>
                <ul *ngFor="let s of currentVisit.symptoms">
                    <li>{{s}}
                        <button class="btn btn-sm btn-outline-secondary" (click)="removeSymptom(s)">
                            <b>X</b>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <label>Prescriptions</label>
                <div class="row" id="updater">
                    <input type="text" class="form-control col-md-7" placeholder="New Prescription" id="prescription" name="prescription" [(ngModel)]="prescription">
                    <button class="btn btn-sm btn-outline-secondary ml-sm-1" (click)="addPrescription()">Add</button>
                </div>
                <div *ngIf="error3" class="alert alert-light">
                    Nothing was entered.
                </div>
                <br>
                <ul *ngFor="let p of currentVisit.prescriptions">
                    <li>{{p}}
                        <button class="btn btn-sm btn-outline-secondary" (click)="removePrescription(p)">
                            <b>X</b>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-6">
                <label>Treatments</label>
                <div class="row" id="updater">
                    <input type="text" class="form-control col-md-7" placeholder="New Treatment" id="treatment" name="treatment" [(ngModel)]="treatment">
                    <button class="btn btn-sm btn-outline-secondary ml-sm-1" (click)="addTreatment()">Add</button>
                </div>
                <div *ngIf="error4" class="alert alert-light">
                    Nothing was entered.
                </div>
                <br>
                <ul *ngFor="let t of currentVisit.treatments">
                    <li>{{t}}
                        <button class="btn btn-sm btn-outline-secondary" (click)="removeTreatment(t)">
                            <b>X</b>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <label>Test Results</label>
                <div class="row" id="updater">
                    <input type="text" class="form-control col-md-7" placeholder="New Test Result" id="test" name="test" [(ngModel)]="test_result">
                    <button class="btn btn-sm btn-outline-secondary ml-sm-1" (click)="addTestResult()">Add</button>
                </div>
                <div *ngIf="error5" class="alert alert-light">
                    Nothing was entered.
                </div>
                <br>
                <ul *ngFor="let t of currentVisit.tests">
                    <li>{{t}}
                        <button class="btn btn-sm btn-outline-secondary" (click)="removeTestResult(t)">
                            <b>X</b>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>