.form-group{
    width:60%;
    margin:0 auto;
}

#search {
    background-color:aliceblue;
    padding: 4%;
}

.container{
    width: 60%;
}

.radios {
    display:inline-block;
    float:left;
    margin-right:8%;
    margin-left:2%;
}