* {
    box-sizing: border-box;
}

.form-group{
    width:60%;
    margin:0 auto;
}

input {
    border:none;
}

#title {
    margin-top:5%;
}

#search {
    background-color:#ecf7fa;
    border-radius: 25px;
    color:#374346;

    padding: 4%;
    margin-bottom: 10%;
}

.container{
    width: 60%;
    border-radius: 25px;
}

#alertDiv {
    width:30%;
    margin:0 auto;
}

#filtered {
    cursor:none;
    background-color:rgb(220, 229, 238);
}
