.form-group{
    width:60%;
    margin:0 auto;
}

#search {
    background-color:aliceblue;
    padding: 4%;
    margin-bottom: 10%;
}

.container{
    width: 60%;
    border-radius: 25px;
}

#alertDiv {
    width:30%;
    margin:0 auto;
}

#filtered {
    cursor:none;
    background-color:rgb(220, 229, 238);
}
